body {
  background-color: #00BFFF;
}
.header {
  background-color: #00BFFF;
  height: 50px;
  border-bottom: 1px solid #74d4eb;
  position: relative;
}
.header .view {
  text-align: center;
  line-height: 50px;
  color: #ffffff;
  font-weight: bolder;
  font-size: 24px;
}
.header .return {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-top: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(225deg);
  left: 2%;
}
.header .shut-down {
  display: inline-block;
  width: 25px;
  height: 3px;
  background: #ffffff;
  line-height: 0;
  font-size: 0;
  vertical-align: middle;
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translateY(-50%) rotate(225deg);
}
.header .shut-down:after {
  content: '/';
  display: block;
  width: 25x;
  height: 3px;
  background: #ffffff;
  -webkit-transform: rotate(-90deg);
}
.content {
  background-color: #F0E68C;
  margin: 10% 15% 0 15%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #ffffff;
  position: relative;
}
.content .circle {
  background-color: #FFFFFF;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #F0E68C;
  text-align: center;
  line-height: 33px;
  font-size: 22px;
  color: #FF0000;
  position: absolute;
  left: 50%;
  top: -18px;
  transform: translatex(-50%);
}
.content #identity {
  position: absolute;
  color: #00BFFF;
  font-size: 22px;
  font-weight: bolder;
  margin-top: 100px;
}
#footer {
  background-color: #fbb435;
  margin: 13%;
  width: 74%;
  text-align: center;
  font-size: 21px;
  color: #ffffff;
  font-weight: bolder;
  border: 0;
  outline: none;
}
