body {
  background-color: #f0f0f0;
}
.header {
  width: 100%;
  height: 44px;
  background-color: #29bde0;
  display: flex;
  align-items: center;
}
.header img {
  margin-left: 11px;
}
.nav {
  height: 40px;
  font-size: 18px;
  font-weight: bolder;
  background-color: #ffffff;
  margin: 8px 10px 5px 10px;
  text-align: center;
  line-height: 40px;
}
.content {
  height: 300px;
  background-color: #ffffff;
  margin: 0 10px;
}
.content .killer {
  display: inline-flex;
  align-items: center;
  margin-right: 26%;
  margin-top: 10px;
}
.content .killer .square {
  width: 5px;
  height: 5px;
  background-color: #fab344;
  margin: 0 15px;
}
.content .killer .information {
  font-size: 12px;
}
.content .killer .information .amount {
  margin: 0 3px;
}
.footer {
  margin: 0 10px;
  margin-bottom: 30px;
}
.footer #btn {
  background-color: #fab344;
  width: 100%;
  height: 50px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  outline: none;
}
.bottom-box {
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  margin: 10px 10px;
}
/*横条样式*/
input[type=range] {
  -webkit-appearance: none;
  /*清除系统默认样式*/
  width: 90%;
  height: 5px;
  /*横条的高度*/
  background-color: #fab344;
  outline: none;
  cursor: pointer;
}
/*拖动块的样式*/
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  /*清除系统默认样式*/
  width: 35px;
  height: 21px;
  background: url(../task2/img7.png) no-repeat 0 0 / cover;
  border: none;
  cursor: pointer;
}
.img7 {
  width: 20px;
  height: 20px;
  background: url(../task2/img9.png) no-repeat 0 0 / cover;
  outline: none;
  border: none;
}
.img8 {
  width: 20px;
  height: 20px;
  background: url(../task2/img8.png) no-repeat 0 0 / cover;
  outline: none;
  border: none;
}
.number-of-people {
  height: 200px;
  background-color: #ffffff;
  margin: 0 10px;
  margin-bottom: 20px;
  font-weight: bolder;
  text-align: center;
  line-height: 100px;
}
.number-of-people input {
  background: #c0c0c0c0;
  outline: none;
  border: 0px;
  width: 30px;
  height: 30px;
  text-align: center;
  font-weight: bolder;
  font-size: 16px;
  color: #fab344;
}
.number-of-people .prompt {
  font-size: 12px;
  font-weight: 100;
  color: #fab344;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
